<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-destock">
            <img src="/images/logo-mercado-liebre.svg" alt="">
            <input type="text" placeholder="¿Qué estas buscando?">
            <p class="navbar-title"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="navbar-right">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </div>
        <div class="navbar-left">
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="far fa-id-card"></i></a></li>
            </ul>
        </div>
        <div class="navbar-hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="main">
        <section class="form-register">
            <form action="/" class="form-control">
                <h4>Datos personales</h4>
                <input type="text"  name='name' placeholder="Nombre y apellido">
                <input type="text"  name='username' placeholder="Nombre de usuario" minlength="1">
                <input type="email" name='email' placeholder="E-mail">
                <h4>Fecha de nacimiento</h4>
                <input type="date" name='date'>
                <input type="text" placeholder="Domicilio">
                <h4>Perfil de usuario</h4>
                <div class="radio-perfil">
                    <label for="" name="perfil-tipo"><input type="radio" name="perfil-tipo" id="" >Comprador</label>
                    <label for="" name="perfil-tipo"><input type="radio" name="perfil-tipo" id="" >Vendedor</label>
                </div>
                <h4>Interéses</h4>
                <div class="check-perfil">
                    <label><input type="checkbox" value="1">Electro</label><br>
                    <label><input type="checkbox" value="2">Moda</label> <br>
                    <label><input type="checkbox" value="3">Hogar</label> <br>
                    <label><input type="checkbox" value="4">Juguetería</label> <br>
                    <label><input type="checkbox" value="5">Vida Sana</label> <br>
                </div>
                <h4>Foto de perfil</h4>
                <input type="file">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Confirmar contraseña">
                <div class="button-line">
                    <button type="reset" class="btn-danger">LIMPIAR</button>
                    <button type="submit" class="btn-success">ENVIAR</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <section class="section-footer">
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </section>
        <section class="section-footer">
            <h2>Envío gratis desde $ 2.500</h2>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de Mercado Puntos.
            </p>
        </section>
        <section class="section-footer">
            <h2>Seguridad, de principio a fin</h2>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>