/*
Paleta de colores
Amarillo: #EAC926
Azul: #03264C
Celeste: #1259c3
Gris Oscuro: #666
Gris claro: #ebebeb
Verde: #39b54a


Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}


footer {
    padding: 0px 15px;
    margin: 0px;
}

.lima {
    color: #39b54a;
}

.main {
    padding: 0px;
    margin: 0px;
    background-color: #ebebeb;
}

.main .banner {
    width: 100%;
    height: auto;
}

.main .articles img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.main .articles h2 {
    color: #666;
    text-align: center;
}

.main .articles article {
    width: 90%;
    display: block;
    margin: 10px auto;
    background-color: #ffffff;
}

.description-article {
    border-top: 1px solid #ebebeb;
    padding: 0px 15px;
}

.main-header {
    background-color: #EAC926;
}

.main-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-header input {
    width: 100%;
    padding: 8px 0px;
    border-radius: 5px;
    border: 0;

}

.main-header .form-control {
    padding: 10px 12px;
}

.main-header .navbar-title {
    text-align: center;
}

.main-header ul>li {
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
}

.main-header ul>li>a {
    text-decoration: none;
    color: #03264C;
}

.navbar-right {
    margin-bottom: 15px;
}

.navbar-left {
    margin-bottom: 15px;
}

.main-header .fa-bars {
    background-color: #03264C;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 10%;
}

.navbar-hamburger {
    padding: 10px 0px;
    text-align: center;
    font-size: 18px;
}

.form-register {
    width: 90%;
    margin: 10px auto;
    padding: 5px 0px;
}

.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid transparent
}

.check-perfil input {
    width: auto;
    display: inline-block;
    margin-right: 8px;
}

.radio-perfil {
    display: flex;

}

.radio-perfil label {
    display: contents;
    border: 1px red solid;
}

.radio-perfil input {
    text-align: left;
}

.button-line {
    margin-bottom: 5px;
}

.button-line button {
    width: 49%;
    display: inline;
}

.btn-danger {
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    font-weight: 400;
    border: 1px solid transparent;
}

.btn-success {
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-weight: 400;
    border: 1px solid transparent;
}