/*
Paleta de colores
Amarillo: #EAC926
Azul: #03264C
Celeste: #1259c3
Gris Oscuro: #666
Gris claro: #ebebeb
Verde: #39b54a


Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.lima{
    color: #39b54a;
}    

.main {
    padding: 0px;
    margin: 0px;
    background-color: #ebebeb;
}

.main .banner {
    width: 100%;
    height: auto;
}

.main .articles img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.main .articles h2 {
    color: #666;
    text-align: center;
}

.main .articles article {
    width: 90%;
    display: block;
    margin: 10px auto;
    background-color: #ffffff;
}

.description-article{
    border-top: 1px solid #ebebeb;
    padding: 0px 15px;
}

.main-header {
    background-color: #EAC926;
}

.main-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-header input {
    width: 100%;
    padding: 8px 0px;
    border-radius: 5px;
    border: 0;

}

.main-header .form-control {
    padding: 10px 12px;
}

.main-header .navbar-title {
    text-align: center;
}

.main-header ul>li {
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
}

.main-header ul>li>a {
    text-decoration: none;
    color: #03264C;
}

.navbar-right {
    margin-bottom: 15px;
}

.navbar-left {
    margin-bottom: 15px;
}

.main-header .fa-bars {
    background-color: #03264C;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 10%;
}

.navbar-hamburger {
    padding: 10px 0px;
    text-align: center;
    font-size: 18px;
}